# Open with an application
alias chro="open -a \"/Applications/Google Chrome.app\""
alias subl="open -a \"/Applications/Sublime Text.app\""
alias s="subl ./"

# ZSH
alias zc="subl ~/.zshrc"
alias zs="source ~/.zshrc"
alias zca="subl ~/.aliases"

alias ee="exit"
alias c="clear"
alias rm="rm -rf"

# File Navigation
alias d="cd ~/Desktop"
alias h="cd ~/"
alias drop="cd ~/Dropbox"
alias db=drop
alias bi="cd ~/Desktop/side-projects/Bible"
alias k="cd ~/Desktop/side-projects/konekoya.github.com"
alias code="cd ~/Desktop/learning/code"
alias oo="cd ~/Desktop/data-farm/data-farm-f2e"

# Quick accessing files
alias voca="vim ~/Dropbox/English/Vocabulary.txt"

# Get the physical ip address of this Mac
alias ip="ipconfig getifaddr en0"

# Tree view
alias t="tree"


# Start a local web server from this dir
alias server='open http://localhost:8000 && python -m SimpleHTTPServer'

# Git
alias gs="git status"
alias gst="git status"
alias gl="git pull"
alias gco="git checkout"
alias gcm="git checkout master"
alias gcd="git checkout develop"
alias ga="git add ."
alias gc="git commit -m"
alias gp="git push"
alias gg="git log --decorate --graph --oneline"
alias gb="git branch -a"
alias gd="git diff"
alias gf="git fetch"
alias gm="git merge"
alias gcl="git clone"

alias gff="git flow feature"
alias gfb="git flow bugfix"

# NPM
alias ns="npm start"
alias ni="npm install"
alias nisd="npm install --save-dev"
